:root {
    --primary-clr-text: #434455;
    --secondary-clr-text: #2E2F42;
    --blue-clr: #4D5AE5;
    --action-clr: #404BBF;
    --write-logo-footer: #F4F4FD;
    --primary-write: #FFFFFF;
    --write-text-footer: #E7E9FC;
    --transition-dur-and-funct: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;

}

img {
    display: flex;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-clr-text);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-clr-text);
}

.logo-first {
    color: var(--blue-clr);
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-right: auto;
        margin-left: auto;
    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin-right: auto;
        margin-left: auto;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1160px;
    }
}


/* ========HEADER======== */

.header-border {
    padding-top: 24px;
    padding-bottom: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E9FC;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
}

@media screen and (max-width: 767px) {
    .menu-list-wrap {
        display: none;
    }

    .adress-header-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .menu-item {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--secondary-clr-text);
        padding-bottom: 22px;
        transition: color var(--transition-dur-and-funct);
    }

    .menu-item:hover,
    .menu-item:focus {
        color: var(--action-clr);
    }

    .menu-item-active::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        bottom: -4px;

        background: var(--action-clr);
        border-radius: 2px;

    }

    .adress-header-container .contacts {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--primary-clr-text);
        display: block;
        transition: color var(--transition-dur-and-funct);
    }

    .contacts:hover,
    .contacts:focus {
        color: var(--action-clr);
    }

    .mail-addres {
        margin-bottom: 6px;
    }



    .nav-menu {
        display: flex;
    }



    .menu-list-wrap {
        display: flex;
        gap: 40px;
    }

    .address-wrap {
        display: flex;
        flex-direction: column;
    }

    .nav-logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .header-border {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .nav-logo {
        margin-right: 76px;
    }

    .address-wrap {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .mail-addres {
        margin-bottom: 0px;
    }

    .adress-header-container .contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-clr-text);
        display: block;
        transition: color var(--transition-dur-and-funct);
    }
}


/* ===============MOBILE MENU============ */
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        background-color: var(--primary-write);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow-y: scroll;
        transition: opacity var(--transition-dur-and-funct), visibility var(--transition-dur-and-funct);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--write-text-footer);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;

        transition: background-color var(--transition-dur-and-funct);
    }

    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        background-color: var(--action-clr);
    }

    .mobile-menu-close-icon {
        transition: fill var(--transition-dur-and-funct);
    }

    .mobile-menu-close-btn:hover .mobile-menu-close-icon,
    .mobile-menu-close-btn:focus .mobile-menu-close-icon {
        fill: var(--primary-write);
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 80px;
        padding-left: 40px;
        padding-bottom: 40px;
    }

    .mobile-menu-list-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 284px;
    }

    .mobile-menu-item {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--secondary-clr-text);
    }

    .mobile-menu-item:hover,
    .mobile-menu-item:focus {
        color: var(--action-clr);
    }

    .mobile-address-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-menu-contacts-phone {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--primary-clr-text);
        text-decoration: none;
    }

    .mobile-menu-contacts-phone:hover,
    .mobile-menu-contacts-phone:focus {
        color: var(--action-clr);
    }

    .mobile-menu-mail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--primary-clr-text);
    }

    .mobile-menu-mail:hover,
    .mobile-menu-mail:focus {
        color: var(--action-clr);
    }

    .menu-address-container {
        margin-bottom: 48px;
    }


    .menu-social-link-wrap {
        display: flex;
        gap: 56px;
    }

    .menu-social-link-lists {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--blue-clr);
        justify-content: center;
        align-items: center;
        transition: background-color var(--transition-dur-and-funct);
    }

    .menu-social-link-lists:hover,
    .menu-social-link-lists:hover {
        background-color: var(--action-clr)
    }



    .menu-social-link {
        fill: var(--primary-write);
    }
}




/*    ========================  HERO ========================*/

.hero {
    background: var(--secondary-clr-text);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 428px;
    margin: 0 auto;

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/mobile-header-bg.jpg);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/mobile-header-bg2x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/tablet-header-bg2x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desctop/desctop-header-bg2x.jpg);
    }
}

.hero-text {
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--primary-write);
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-write);
    background-color: var(--blue-clr);
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    transition: background-color var(--transition-dur-and-funct);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--action-clr);
}

@media screen and (min-width: 768px) {
    .hero {
        background: var(--secondary-clr-text);
        padding-bottom: 108px;
        max-width: 768px;
        margin: 0 auto;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/tablet-header-bg.jpg);
    }

    .hero-text {
        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--primary-write);
        margin-bottom: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background: var(--secondary-clr-text);
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin: 0 auto;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desctop/desctop-header-bg.jpg);
    }

    .hero-text {
        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--primary-write);
        margin-bottom: 48px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* ===========Section strategy=============== */

.strategy-company {
    padding-top: 96px;
    padding-bottom: 96px;
}


.strategy-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--secondary-clr-text);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.strategy-items .item {
    margin-bottom: 72px;
}

.strategy-items>.item:nth-last-child(1) {
    margin-bottom: 0;
}

.strategy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.strategy-descr-wrap {
    display: none;
}

@media screen and (min-width: 768px) {

    .strategy-items .item {
        width: 356px;
        margin-bottom: 72px;
    }

    .strategy-items>.item:nth-child(n+2) {
        margin-bottom: 0;
    }


    .strategy-items {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

    }

    .strategy-title {
        text-align: start;
    }

    .strategy-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1200px) {
    .strategy-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--secondary-clr-text);

        margin-bottom: 8px;
    }

    .strategy-company {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .strategy-items .item {
        width: 264px;
        margin-bottom: 0;
    }

    .strategy-descr-wrap {
        display: flex;
        width: 264px;
        height: 112px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        background-color: var(--write-logo-footer);
        border-radius: 4px;
    }

    .strategy-text {
        font-weight: 400;
        margin-bottom: 0;
    }
}

/* ===============OUR WORKS ==========================*/

@media screen and (max-width: 1199px) {
    .works {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .works {
        display: block;
    }

    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        color: var(--secondary-clr-text);
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .works {
        padding-bottom: 120px;
    }

    .work-items {
        display: flex;
        gap: 24px;
    }
}

/* ===============OUR WORKS ==========================*/

/* =======================Specialists =======================*/

.team-section {
    background-color: var(--write-logo-footer);
}

.team-section-container {
    padding-top: 96px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 128px;
}

.workers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

}


.specialist-wrap {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    background-color: var(--primary-write);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
}

.specialist-wrap:nth-last-child(1) {
    margin-bottom: 0;
}

.name-specialist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-clr-text);

    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
}

.work-profession {
    text-align: center;
    margin-bottom: 8px;

}

.social-link-wrap {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link-lists {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue-clr);
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-and-funct);
}

.social-link-lists:hover,
.social-link-lists:hover {
    background-color: var(--action-clr)
}



.social-link {
    fill: var(--primary-write);
}

@media screen and (min-width: 768px) {
    .team-section-container {
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 104px;
    }


    .workers-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .specialist-wrap {
        margin-left: 0;
        margin-right: 24px;
        margin-bottom: 64px;

    }

    .specialist-wrap:nth-child(2n) {
        margin-right: 0px;
    }

    .specialist-wrap:nth-last-child(2) {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1200px) {
    .team-section-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .specialist-wrap {
        margin-left: 0;
        margin-right: 24px;
        margin-bottom: 0;

    }

    .specialist-wrap:nth-child(2n-2) {
        margin-right: 24px;
    }

    .specialist-wrap:nth-last-child(1) {
        margin-right: 0;
    }

}


/*    =================CUSTOMERS WRAP========== */

.customers-wrap {
    padding-top: 96px;
    padding-bottom: 96px;
}


.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}


.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customer-list-item {
    width: 190px;
    height: 88px;
    margin-right: 15px;
    margin-bottom: 72px;
}

.customer-list-item:nth-child(2n) {
    margin-right: 0;
}

.customer-list-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

@media screen and (max-width: 427px) {
    .customers-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .customer-list-item {
        margin-right: 0;
        margin-bottom: 0;
    }

}

.customers-icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    fill: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border var(--transition-dur-and-funct), fill var(--transition-dur-and-funct);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
    border: 1px solid var(--action-clr);
    fill: var(--action-clr)
}

@media screen and (min-width: 768px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .customer-list-item {
        width: 168px;
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .customer-list-item:nth-child(2n) {
        margin-right: 24px;
    }

    .customer-list-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .customer-list-item {
        width: 168px;
        margin-bottom: 0;
        gap: 24px;
    }

    .customer-list-item:nth-child(2n) {
        margin-right: 24px;
    }

    .customer-list-item:nth-last-child(1) {
        margin-right: 0px;
    }

    .customer-list-item:nth-child(3n) {
        margin-right: 24px;
    }

}

/*    =================CUSTOMERS WRAP========== */



/* ================Footer================== */

.footer {
    background-color: var(--secondary-clr-text);
    padding-top: 96px;
    padding-bottom: 96px;
}


.footer-descr {
    width: 268px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    color: var(--write-text-footer);
}


.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--write-logo-footer);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}


.contacts-social-links {
    width: 208px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.fotter-contact-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-write);

    margin-bottom: 16px;
}

.footer-social-lists {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.footer-social-link-lists {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-and-funct);
}

.footer-social-link-lists:hover,
.footer-social-link-lists:hover {
    background-color: #31D0AA;
}



.footer-social-link {
    fill: var(--write-logo-footer);
}

.form-subscribe {}



.fotter-form-text {
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-write);
    text-align: center;
    margin-bottom: 16px;
}

.footer-form-input {
    width: 100%;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--secondary-clr-text);
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-bottom: 16px;
}

.footer-btn-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-write);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 40px;
    padding: 8px 24px;
    background-color: var(--blue-clr);
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-dur-and-funct);
}

.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
    background-color: var(--action-clr);
}

.footer-btn-subscribe::after {
    display: inline-flex;
    content: "";
    fill: var(--primary-write);
    width: 24px;
    height: 24px;
    margin-left: 16px;
    background-image: url("../images/icon-button.svg");
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-descr {
        width: 264px;
        margin-right: 24px;
        margin-left: 92px;
    }

    .logo-footer {
        text-align: start;
        margin-bottom: 16px;
    }

    .contacts-social-links {
        width: 208px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
        margin-left: 92px;
    }

    .fotter-contact-text {
        text-align: start;
    }

    .fotter-form-text {
        text-align: start;
    }

    .footer-form-subscribe {
        display: flex;
    }

    .footer-form-input {
        width: 264px;
        height: 40px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
        background-color: var(--secondary-clr-text);
        padding: 8px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        margin-right: 24px;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1200px) {

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-wrap {
        display: flex;
        flex-wrap: nowrap;
    }

    .footer-descr {
        width: 264px;
        margin-left: 0;
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-social-lists {
        margin-bottom: 0;
    }

    .footer-form-input {
        margin-bottom: 0;
    }
}


/*================== Page PORTFOLIO ======================= */

.portfolio-wrap {
    padding-top: 48px;
    padding-bottom: 48px;
}

.portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;
}

.buton-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--blue-clr);
    background-color: var(--write-logo-footer);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--write-text-footer);
    border-radius: 4px;
    transition: color var(--transition-dur-and-funct), background-color var(--transition-dur-and-funct), border var(--transition-dur-and-funct), box-shadow var(--transition-dur-and-funct);
}

.buton-filter:hover,
.buton-filter:focus {
    color: var(--primary-write);
    background-color: var(--action-clr);
    border: 1px solid var(--action-clr);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-clr-text);

    margin-bottom: 8px;
}

.type-project {
    color: var(--primary-clr-text);
}



.work-example {
    width: 396px;
}

/* .work-example:nth-child(3n) {
    margin-right: 0;
}

.work-example:nth-last-child(-n+3) {
    margin-bottom: 0;
} */

.work-example-descr {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 1px solid var(--write-text-footer);
    border-right: 1px solid var(--write-text-footer);
    border-bottom: 1px solid var(--write-text-footer);

}

.work-example-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-funct);

}

.work-example-link:hover,
.work-example-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-example-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-project-img {
    width: 396px;
    height: 280px;
}

.overlay-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    overflow: auto;
    color: var(--write-logo-footer);
    background-color: var(--blue-clr);
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-funct);
}

.work-example:hover .overlay-text,
.work-example:focus .overlay-text {
    transform: translate(0, 0);
}

@media screen and (min-width: 768px) {
    .portfolio-wrap {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .portfolio-filter {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 64px;
    }

    .portfolio-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;

    }

    .work-example {
        width: 356px;
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .work-example:nth-child(3n) {
        margin-right: 24px;
    }

    .work-example:nth-child(2n) {
        margin-right: 0px;
    }

    .work-example:nth-last-child(-n+1) {
        margin-bottom: 0px;
    }

    .portfolio-project-img {
        width: 356px;
        height: 300px;
    }
}


@media screen and (min-width: 1200px) {
    .portfolio-wrap {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .portfolio-filter {
        margin-bottom: 72px;
    }


    .work-example {
        width: 360px;
        margin-bottom: 48px;
        margin-right: 24px;
    }

    .work-example:nth-child(2n) {
        margin-right: 24px;
    }

    .work-example:nth-child(3n) {
        margin-right: 0px;
    }

    .work-example:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }

    .portfolio-project-img {
        width: 360px;
    }
}


/* =================MODAL=============== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-and-funct), visibility var(--transition-dur-and-funct);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    transform: translate(-50%, -50%);
    width: 408px;
    background-color: #FCFCFC;
    border-radius: 4px;

}

@media screen and (max-width: 767px) {
    .modal {
        width: 392px;
    }

}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--write-text-footer);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition: background-color var(--transition-dur-and-funct);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--action-clr);
}

.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-funct);
}

.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
    fill: var(--primary-write);
}

.modal-form {}

.modal-text-descr {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-clr-text);
    margin-bottom: 16px;
}

.modal-label-name {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-name-wrap {
    position: relative;
}

.form-input-name {
    height: 40px;
    width: 100%;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 11px;


    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: fill var(--transition-dur-and-funct), border var(--transition-dur-and-funct);
}

.form-input-name:focus {
    border: 1px solid var(--blue-clr)
}

.modal-icon-name {
    position: absolute;
    fill: var(--secondary-clr-text);
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
}

.form-input-name:focus~.modal-icon-name {
    fill: var(--blue-clr);
}

.modal-label-phone {
    display: inline-block;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-phone-wrap {
    position: relative;
}

.form-input-phone {
    height: 40px;
    width: 100%;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 11px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: fill var(--transition-dur-and-funct), border var(--transition-dur-and-funct);
}

.form-input-phone:focus {
    border: 1px solid var(--blue-clr)
}

.modal-icon-phone {
    position: absolute;
    fill: var(--secondary-clr-text);
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-funct);
}

.form-input-phone:focus~.modal-icon-phone {
    fill: var(--blue-clr);
}

.modal-label-email {
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-email-wrap {
    position: relative;
}

.form-input-email {
    height: 40px;
    width: 100%;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 11px;


    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: fill var(--transition-dur-and-funct), border var(--transition-dur-and-funct);
}

.form-input-email:focus {
    border: 1px solid var(--blue-clr)
}

.modal-icon-email {
    position: absolute;
    fill: var(--secondary-clr-text);
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
}

.form-input-email:focus~.modal-icon-email {
    fill: var(--blue-clr);
}

.modal-label-comment {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-textarea-coment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;


    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border var(--transition-dur-and-funct);
}

.modal-textarea-coment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea-coment:focus {
    border: 1px solid var(--blue-clr)
}

.form-checkbox {}

.form-checkbox:checked+.label-policy::before {
    background-color: var(--blue-clr);
    background-image: url(../images/icon-checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

}

.form-checkbox:focus+.label-policy::before {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.label-policy {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
}

.label-policy-link {
    color: var(--action-clr);
}

.label-policy::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid var(--secondary-clr-text);
    border-radius: 2px;
}

.form-button-send {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    padding: 16px 32px;
    justify-content: center;
    width: 169px;
    height: 56px;
    color: var(--primary-write);
    background-color: var(--blue-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-dur-and-funct);
}

.form-button-send:hover,
.form-button-send:focus {
    background-color: var(--action-clr);
}